body {
    color: #333333;
    width: 100%;
    height: 100%;
    background: url("../images/simpleBG.svg") no-repeat center center fixed;
    overflow-y: hidden;
}

.formLogo {
    display: block;
    padding-top: 10px;
    margin: 0 auto 10px auto;
}

.card {
    width: 410px;
    height: 560px;
    background-color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px #b4b4b4;
}

.error {
    text-align: center;
    font-size: 15px;
    color: red;
    max-width: 390px;
    margin: 0 auto 0 auto;
}


.switch-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 0 15px 0;
    font-size: 18px;
}

.round-input {
    display: block;
    padding: 0 30px 0 30px;
    border-radius: 20px;
    border: 1px solid #dedede;
    width: 290px;
    height: 43px;
}

.round-input:hover {
    box-shadow: 1px 1px 7px #b4b4b4;
}

.round-input:focus-within {
    box-shadow: 1px 1px 7px #b4b4b4;
}

.round-input:focus {
    outline: none;
}

#connexionBtn {
    cursor: pointer;
}

#inscriptionBtn {
    cursor: pointer;
}

.activeBtn {
    font-weight: bold;
}

.primary-btn {
    display: block;
    width: 255px;
    height: 45px;
    border-width: 0;
    padding: 2px 10px 2px 10px;
    border-radius: 25px;
    color: #ffffff;
    background-image: linear-gradient(to right, #FCC682, #FF7C23);
    margin: 62px auto 0 auto;
    cursor: pointer;
}

.displayNone {
    display: none;
}

.label {
    display: block;
    font-size: 18px;
    margin: 20px 0 10px 57px;
}

#formLogin {
    margin-top: 30px;
}

#formLogin .round-input {
    margin-left: auto;
    margin-right: auto;
}

#formInscription {
    margin-top: 30px;
}

#formInscription .round-input {
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px 0 29px;
}

#formInscription .label {
    margin: 13px 58px 8px;
}
#formInscription .primary-btn {
    margin-top: 25px;
}

@media screen and (max-width: 640px) {
    body {
        -webkit-background-size: cover;
        background-size: cover;
    }
    .card {
        margin-top: 50px;
        width: 350px;
        height: 565px;
    }

    .label {
        margin-left: 25px;
    }

    .round-input {
        width: 265px;
    }

    #formInscription .label {
        margin-left: 25px;
    }
}