{% load static %}
<menu>
    <div class="item" id="project">
        <p>
            Mes projets
        </p>
   </div>

    <div class="item" id="profil" onclick="openModal('profil')">
        <p>
            {% if user.first_name %}
                {{ user.first_name }} {{ user.last_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </p>
        <img src="{% static 'images/profil_default.jpg' %}" alt="Photo profil">
    </div>

    <a href="{% url 'logout' %}">
        <div id="logout">
           Se deconnecter
       </div>
    </a>
</menu>