{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ projet.titre }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <script src="{% static 'javascript/Sortable.js' %}"></script>
</head>
<body>
<nav id="nav-bar">
    <div class="nav-item back-section">
        <a href="{% url 'home' %}">
            <div class="back-btn">
                Retour
            </div>
        </a>
        <input type="text" value="{{ project.name }}" id="project-name" spellcheck="false">
    </div>
    <div class="nav-item user-section">
        <p id="firstName">{{ user.first_name }} {{ user.last_name }}</p>
        {#        <img src="#" alt="user image"/>#}
        <a href="{% url 'logout' %}">
            <div class="logout">
                Se deconnecter
            </div>
        </a>
    </div>
</nav>
<div id="action-bar">
    <button id="add-list-btn">Nouvelle liste <i class="fas fa-plus-circle"></i></button>
    <button id="add-member-btn">Ajouter un membre <i class="fas fa-address-book"></i></button>
</div>
<div class="list-wrapper" id="lists">
    <div class="list-content" id="tasks">
        <div class="list-header">
            <textarea maxlength="512" aria-label="Doing" name="list-title" spellcheck="false" class="list-header-name">Doing</textarea>
        </div>
        <div id="cards" class="list-cards">
            <a href="#" class="list-card">
                <div class="list-card-details">
                    <span class="list-card-title">Test 1</span>
                    <div class="list-card-members">

                    </div>
                </div>
            </a>
            <a href="#" class="list-card">
                <div class="list-card-details">
                    <span class="list-card-title">Test 2</span>
                    <div class="list-card-members">

                    </div>
                </div>
            </a>
        </div>
        <div class="list-footer">

        </div>
    </div>
</div>
<script>
    let sortable = new Sortable(cards, {
        animation: 150,
    });
</script>
</body>
</html>