{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
</head>
<body>
{% include 'Front/navbar-header.html' %}
<div id="background_modals">
    {% include 'modals/modal_profil.html' %}
</div>
<div id="page_top">
    <section>
        <h1>Mieux gérer <span class="color_purple">tous</span> vos projets</h1>
        <div class="container_input_search">
            <input type="text" id="search_preson" placeholder="Rechercher une personne">{% csrf_token %}
            <i id="btn_search_person"><span class="search"></span></i>
        </div>
        <div class="container_info">
            <h3>U'task</h3>
            <p>Afin de découvrir les membres de votre promotion, vous pourrez rechercher et regarder leur profil pour
                ernsuite échanger avec eux !</p>
        </div>

        <div id="container_result_person">
            <div class="card nothing">
                <i></i>
                <p>Aucun résultats trouvés</p>
            </div>
        </div>
    </section>
</div>
<div id="page_bottom">
    <section>
        <h2>Mes projets</h2>
        <div class="container_info">
            <h3>U'task</h3>
            <p>Créer, gérer, hiérarchiser à 100% vos projets afin d'optimiser vos rendus.</p>
        </div>
        <div id="btn-create"><p>Nouveau projet</p><i></i></div>
        <div id="container_project">
            <div class="card-project">
                <img src="{% static 'images/img-project-default.svg' %}" alt="Photo du projet">
                <p class="title">Exemple de projet</p>
                <p class="description">Description du projet, on n'y met ce que l'on veut.</p>
            </div>
            {% for project in projects %}
                <a href="{% url 'board' project.id %}">
                    <div class="card-project">
                        <img src="{% static 'images/img-project-default.svg' %}" alt="Photo du projet">
                        <p class="title">{{ project.name }}</p>
                        <p class="description">{{ project.description }}</p>
                    </div>
                </a>
            {% endfor %}

        </div>
    <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1466971060667-16467c7d04ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2043&q=80)"></div>
      <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1458413111252-87446cbff277?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1895&q=80)"></div>
      <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1478527345651-4e698a242669?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2139&q=80)"></div>
      <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1447966129673-88517d4367f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1975&q=80)"></div>
      <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1414390579679-7d6cc7b20436?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1999&q=80"></div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
    </section>
</div>

</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>

<script src="{% static 'javascript/homeScroll.js' %}"></script>
<script src="{% static 'javascript/modal.js' %}"></script>
<script src="{% static 'javascript/jaugeSkill.js' %}"></script>
<script>
    $(document).ready(function () {
         var data ={{ profile.skills | safe }};
        for (var obj in data) {
            console.log(data[obj].name)
            console.log(data[obj].score)
            loadDataJauge(data[obj].score,data[obj].name)
        }
    });
    $('#btn-update-profile').click(function () {
        var data ={{ profile.skills | safe }};
        var tab = [];

        for (var obj in data) {
            let skill = 'jauge_' + String(data[obj].name);
            let score = parseInt($('#' + skill).attr("data-score"));
            let item = {};
            item['name']=data[obj].name;
            item['score']=score;
            tab.push(item);
            console.log(skill)
            console.log(score)
        }
        var varJson = JSON.stringify(tab);
        console.log(varJson)
        var csrf_token = getCookie('csrftoken');
        $.ajax({
            type: "POST",
            headers: {"X-CSRFToken": csrf_token},
            url: "save-profil/",
            dataType: "json",
            traditional: true,
            crossDomain: true,
            data: {'skills': varJson},
            success: function (data) {
               console.log(data)
            }
        });
    });

    $(document).ready(function() {
  var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 3,
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
})


</script>
</html>