{% load static %}
{% load tags %}
<div class="container_modal">
    <div id="modal_profil" class="modal">
        <span class="btn_close" onclick="closeModal('profil')"></span>
        <div class="container_content">
            <div class="flex fit-content">
                <div>
                    <img class="img_profil" src="{% static 'images/profil_default.jpg' %}" alt="Profil">
                </div>
                <div class="vertical_center">
                    <div>
                        <div class="container_input">
                            <input type="text" value="{{ user.first_name }}">
                        </div>
                        <div class="container_input">
                            <input type="text" value="{{ user.last_name }}">
                        </div>
                    </div>
                </div>
            </div>
            <textarea name="description" id="description" placeholder="Autres informations..."></textarea>
            <div class="flex fit-content">
                {% for skill in skills %}
                     <div class="container-jauge">
                        <p>{{ skill.name }}</p>
                        <div id="jauge_{{ skill.name }}" class="jauge" data-score="{{ skill.score }}">
                            <span id="score_{{ skill.name }}" class="pourcentage">{% pourcent skill.score %}</span>
                            <div id="jauge_full_{{ skill.name }}" class="full orange_jauge"></div>
                        </div>
                        <div class="control_panel">
                            <span class="btn_more" onclick="moreSkill('{{ skill.name }}')">+</span>
                            <span class="btn_less" onclick="lessSkill('{{ skill.name }}')">-</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" id="btn-update-profile" class="primary-btn" value="Valider">
        </div>
    </div>
</div>

