{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login U'Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="card">
    <img src="{% static 'images/logo.png' %}" alt="logo utask" width="100px" class="formLogo" height="100px">
    <div class="switch-buttons">
        <span id="connexionBtn" class="activeBtn">Connexion</span>
        <span id="inscriptionBtn">Inscription</span>
    </div>
    <div id="formLogin">
        {% if form.errors %}
            <p class="error">Votre email ou votre mot de passe sont incorrects!</p>
        {% endif %}
        {% if already_exist %}
            <p class="error">L'email renseignée est déjà utilisé!</p>
        {% endif %}
        {% if signup_error %}
            <p class="error">Une erreur est survenue veuillez vous inscrire de nouveau!</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label for="username" class="label">Email</label>
            <input type="email" name="username" class="round-input" placeholder="exemple@mail.com"><br/>
            <label for="password" class="label">Mot de passe</label>
            <input type="password" name="password" class="round-input" placeholder="********"><br/>
            <input type="submit" class="primary-btn" value="Connexion">
        </form>
    </div>
    <div id="formInscription" class="displayNone">
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <label for="username" class="label">Email</label>
            <input type="email" name="email" class="round-input" placeholder="exemple@mail.com">
            <label for="password" class="label">Mot de passe</label>
            <input type="password" name="password" class="round-input" placeholder="********">
            <label for="codePromo" class="label">Code de votre promotion</label>
            <input type="text" name="codePromo" class="round-input" placeholder="XF43GEF"/>
            <input type="submit" class="primary-btn" value="Inscription">
        </form>
    </div>
</div>
</body>
<footer>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="{% static 'javascript/loginToggle.js' %}"></script>
</footer>
</html>